body {
  background-color: #323232;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

#wrap {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full viewport height */
}

#bar, #content, input {
  padding: 20px;
  border: 1px solid black;
}

#content {
    flex: 1; /* Expand to fill available space */
    overflow-y: auto; /* Enable vertical scrolling */
    max-height: calc(100vh - 100px);
}

#bar {
  background-color: #222;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#bar div {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 2% 3%;
  text-decoration: none;
  font-size: 1em;
}

#pop-up {
    position: fixed;
    top: 40%;
    left: 35%;
    width: 30%;
}

#username-input{
    width: 80%;
}

input {
    background-color: #444;
    color: white;
}

input:focus {
    outline: none;
    border-color: white;
}

.username {
    font-size: 1.2em;
    margin-bottom: 0.5%;
}

.time-stamp {
    font-size: 0.7em;
    color: #ddd;
}

.user-join {
    font-size: 1.2em;
    font-weight: bold;
}